In [2]:
import pandas as pd

DATA_PATH = '../data/'
filename  = 'estrepublicain_annee_1999.csv'

df = pd.read_csv(DATA_PATH + filename)

In [3]:
df.shape
df.head()
df.tail()

                                                    text
30236  Et le rêve américain ne l'a plus quitté. « A m...
30237  Deux mois après l'incendie du tunnel du Mont-B...
30238  Cartons rouges aux installations sportives.- L...
30239  81. Knapek (UST ADEGEM) 56'10 ; 82. Filliot (A...
30240  Né à Eloyes, en 1908, issu d'une famille impla...

In [5]:
df[df.text.str.contains('football') ]
df.text.apply(lambda d : len(d))

0        1156
1         704
2         638
3         740
4         683
5         718
6        1286
7        1484
8         673
9         710
10        747
11        588
12        715
13        613
14        713
15        762
16       1093
17        683
18        560
19        733
20        784
21        887
22        614
23        789
24        825
25        712
26        580
27        446
28        793
29        777
         ...
30211     636
30212     840
30213     641
30214     637
30215     662
30216     579
30217     776
30218     955
30219     734
30220     576
30221     695
30222     668
30223     717
30224    1300
30225     952
30226     656
30227     544
30228     926
30229     898
30230     624
30231     627
30232     737
30233     638
30234     688
30235     748
30236     600
30237     687
30238    1002
30239     644
30240     735
Name: text, Length: 30241, dtype: int64