In [1]:
a = 2+2
a

4

In [5]:
import pandas as pd

DATA_PATH = '../data/'
filename  = 'estrepublicain_annee_1999.csv'

df = pd.read_csv(DATA_PATH + filename)

In [9]:
df
df.shape # donne les lignes et les colonnes, 
df.head() #affiche les 5 premières lignes
df.columns # affiche le noms de colonnes
df = df[0:1000] #Prend les 1000 premières rangées

In [7]:
df.head()

                                                text
0  André Bauer, le Bonhomme de St-Dié ; Alain Dag...
1  Le Smash Entente Club de Lunéville (SECL) a re...
2  En tout cas, du côté du PS Dole qui reste en c...
3  « Le nombre des donneurs était en légère baiss...
4  ELOYES._ Les Ramoncenais n'auront tenu qu'une ...

In [11]:
df.head() #affiche les 5 premières lignes

                                                text
0  André Bauer, le Bonhomme de St-Dié ; Alain Dag...
1  Le Smash Entente Club de Lunéville (SECL) a re...
2  En tout cas, du côté du PS Dole qui reste en c...
3  « Le nombre des donneurs était en légère baiss...
4  ELOYES._ Les Ramoncenais n'auront tenu qu'une ...

In [10]:
df.shape # donne les lignes et les colonnes,

(1000, 1)

In [12]:
df.columns # affiche le noms de colonnes

Index(['text'], dtype='object')

In [13]:
df = df[0:1000] #Prend les 1000 premières rangées

In [14]:
# Changer le nom de la colonne
df.columns = ['paragraphe']
df.columns

Index(['paragraphe'], dtype='object')

In [15]:
# Tokenization
from nltk import word_tokenize

# La phrase
sentence = "les médiateurs confirment « l'absence de solution parfaite ». "

tokens = word_tokenize(sentence)

print(tokens)
tokens_on_space = sentence.split(' ')
print(tokens_on_space)

['les', 'médiateurs', 'confirment', '«', "l'absence", 'de', 'solution', 'parfaite', '»', '.']
['les', 'médiateurs', 'confirment', '«', "l'absence", 'de', 'solution', 'parfaite', '».', '']

In [16]:
# ponctuation

import string

print("Liste original de signe de ponctuations")
print("\t{}".format(string.punctuation))

sentence = "les médiateurs confirment « l'absence de solution parfaite ». "
punctuation_chars = string.punctuation + "«»"

#  Construction d'un dict { '~':' ', '$': ' ', ... }
d = {}
for k in punctuation_chars:
    d[k] = ' '

print(d)

# # L'operateur de translation
translator = str.maketrans(d)

new_sentence = sentence.translate(translator)
print(sentence)
print(new_sentence)

Liste original de signe de ponctuations
	!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
{'!': ' ', '"': ' ', '#': ' ', '$': ' ', '%': ' ', '&': ' ', "'": ' ', '(': ' ', ')': ' ', '*': ' ', '+': ' ', ',': ' ', '-': ' ', '.': ' ', '/': ' ', ':': ' ', ';': ' ', '<': ' ', '=': ' ', '>': ' ', '?': ' ', '@': ' ', '[': ' ', '\\': ' ', ']': ' ', '^': ' ', '_': ' ', '`': ' ', '{': ' ', '|': ' ', '}': ' ', '~': ' ', '«': ' ', '»': ' '}
les médiateurs confirment « l'absence de solution parfaite ».
les médiateurs confirment   l absence de solution parfaite

In [17]:
# stopwords
tokens = word_tokenize(new_sentence)
print(tokens)

from nltk.corpus import stopwords


# print("=== stopwords - français:")
# print(sorted(stopwords.words('french')))

list_stopwords = stopwords.words('french') + ['les', 'de']

# # equivalent:
# stopwords = stopwords.words('french')
# stopwords.append('les')
# stopwords.append('de')


# 
tokens_sans_stopwords = [w for w in tokens if (w not in list_stopwords) ]

## Equivalent 
tokens_sans_stopwords = []
for w in tokens:
    if w not in list_stopwords:
        tokens_sans_stopwords.append(w)



print(tokens_sans_stopwords)

['les', 'médiateurs', 'confirment', 'l', 'absence', 'de', 'solution', 'parfaite']
['médiateurs', 'confirment', 'absence', 'solution', 'parfaite']

In [19]:
# Enlevons la ponctuation

df['text_no_punctuation'] = df.text.apply(lambda 
    r : ( r.translate(translator) ) 
)
df.head()

AttributeError: 'DataFrame' object has no attribute 'text'

In [ ]:
df.loc[5] #indexation de la 5 ème ligne