In [1]:
5 + 5 = 10

SyntaxError: can't assign to operator (<ipython-input-1-c7848233bc46>, line 1)

In [2]:
5+5

10

In [3]:
rosa = meuf

NameError: name 'meuf' is not defined

In [4]:
rosa

NameError: name 'rosa' is not defined

In [5]:
"rosa" = "meuf"

SyntaxError: can't assign to literal (<ipython-input-5-25a7492dd3c3>, line 1)

In [6]:
rosa = "meuf"

In [7]:
rosa

'meuf'

In [8]:
adil = "inutile"

In [9]:
adil

'inutile'

In [10]:
adil

'inutile'

In [11]:
import pandas as pd

DATA_PATH = '../data/'
filename  = 'estrepublicain_annee_1999.csv'

df = pd.read_csv(DATA_PATH + filename)

In [12]:
import pandas as pd
DATA_PATH = '../data/'
filename  = 'estrepublicain_annee_1999.csv'
df = pd.read_csv(DATA_PATH + filename)

In [13]:
import pandas as pd

DATA_PATH = '../data/'
filename  = 'estrepublicain_annee_1999.csv'

df = pd.read_csv(DATA_PATH + filename)

print("\nLe corpus contient {} rows et {} colonne(s)".format(df.shape[0], df.shape[1]))

print("\nColonnes: {} ".format(df.columns))

print("\n== Premier elements: ")

print(df.head().values)

# Ne garder que les 1000 premiers commentaires

df = df[0:1000]

Le corpus contient 30241 rows et 1 colonne(s)

Colonnes: Index(['text'], dtype='object')

== Premier elements:
[[ "André Bauer, le Bonhomme de St-Dié ; Alain Dagosto, Bières de Vézelize (54) ; Paulette Gay, Pieds de cochons de Dommartin ; Corinne Dexemple, Tourte néocastrienne ; Bernadette Paulin, Pâté lorrain de Châtenois ; Andrée Labrux, Pétrou de Senones ; Marie-Thérèse Muller, Cochonneux de la Seille de Sillegny (57) ; Ginette Laporte, Eau de Contrexéville ; Danièle Richard, Framboise saulxuronne ; Josette Pouchucq, Cuisses de grenouilles de Vittel ; Daniel Léonard, Nostre damme de Chiney (Belgique) ; Sophie Valdenaire, Pissenlit de Xertigny ; Simone Leick, Cochon d'autrefois de Sierck les Bains (57) ; Yves Lievens, Kuulkappers de St-Gilles (Belgique) ; Brigitte Lievens, Miel de montagne de Plombières ; Louise Fallot, Madeleine de Commercy ; Claude Himbert, Macaron et bergamote de Nancy ; Robert Fuchs, Marmite d'or ; Jean-Pierre Ruspini, Saumon de Salm ; Jean-Marie Mougel, Andouille du Val d'Ajol ; Jean-François Ancel, Rognons blancs de Raon aux Bois ; Evelyne Bailleux, Fine coquille de Poseïdon de Recey sur Ource (21) ; Dominique Thaller, Tête de veau de Rambervillers ; Nicole Dubois, Boudin noir de Soissons (02) ; Martine Pattey, Image d'Epinal."]
 [ "Le Smash Entente Club de Lunéville (SECL) a repris ses activités au complexe Berte. Les séances d'entraînement du mercredi soir, de 20 h à 22 h, sont ouvertes à toute personne adulte désirant pratiquer le volley-ball dans un esprit de loisir et de détente. Pour ceux ou celles qui souhaitent participer au championnat loisir, un entraînement spécifique leur est proposé le lundi soir, aux mêmes horaires. L'assemblée générale du club aura lieu le mercredi 29 septembre, à 20 h, dans la salle de réunion de la maison des sports. Tous les membres du club y sont conviés ainsi que toutes les personnes intéressées. Pour tout renseignement complémentaire, s'adresser au président J. Ravaine (03.83.74.12.28)."]
 [ "En tout cas, du côté du PS Dole qui reste en course pour l'accession parmi l'élite régionale après un nouveau et net succès contre Devecey (4-1), on espère bien mettre à profit ces paramètres pour une qualification dans le dernier carré : « nous aborderons cette rencontre sans aucun complexe » précisait hier le président jurassien Alain Viennot. « Nous disposons d'un groupe homogène capable de se transcender dans les grandes occasions ». Celle-ci, surtout à domicile, en est une et les Dolois comptent bien tout mettre en oeuvre au côté de son buteur maison, Euvrard (17 buts et leader des buteurs de PH-B) pour parvenir à leurs fins."]
 [ "« Le nombre des donneurs était en légère baisse lors de la dernière collecte à Neuves-Maisons. C'est inquiétant car les besoins sont énormes. Au niveau départemental, les stocks sont très faibles, et ne permettent de faire face à la demande que pour une période de cinq jours au grand maximum. Que se passerait-il si un sinistre d'une gravité exceptionnelle se produisait ? Il serait sans doute impossible de répondre à la demande. C'est pourquoi, nous invitons les habitants de Neuves-Maisons à participer massivement à la prochaine collecte prévue le dimanche 5 septembre, de 8 h 30 à 12 h, au centre socio culturel Jean-L'Hôte...» explique Jean Marie Greiner, président de l'association des donneurs de sang du secteur de Neuves-Maisons."]
 [ "ELOYES._ Les Ramoncenais n'auront tenu qu'une heure face aux réservistes loyas, incontestablement supérieurs techniquement et au niveau de la condition physique. Hajaji allait se montrer l'attaquant le plus remuant d'entrée de jeu (6') ou avec son compère El Khala (13') permettant à Paillard de sauver les meubles. Cela tenait, jusqu'à une belle combinaison entre les deux, plus Abou en relayeur, et Hajaji trouvait les filets (17'). On retrouvait les mêmes par la suite : El Khala (20'), Hajaji (30', 37' et 44'), souvent bien servis par le jeune Claudel. Les visiteurs s'étaient néanmoins montrés dangereux par une action Peduzzi-Blouin (10') et les raids de Martins (18' et 32')."]]

In [15]:
df
df.head().values

array([[ "André Bauer, le Bonhomme de St-Dié ; Alain Dagosto, Bières de Vézelize (54) ; Paulette Gay, Pieds de cochons de Dommartin ; Corinne Dexemple, Tourte néocastrienne ; Bernadette Paulin, Pâté lorrain de Châtenois ; Andrée Labrux, Pétrou de Senones ; Marie-Thérèse Muller, Cochonneux de la Seille de Sillegny (57) ; Ginette Laporte, Eau de Contrexéville ; Danièle Richard, Framboise saulxuronne ; Josette Pouchucq, Cuisses de grenouilles de Vittel ; Daniel Léonard, Nostre damme de Chiney (Belgique) ; Sophie Valdenaire, Pissenlit de Xertigny ; Simone Leick, Cochon d'autrefois de Sierck les Bains (57) ; Yves Lievens, Kuulkappers de St-Gilles (Belgique) ; Brigitte Lievens, Miel de montagne de Plombières ; Louise Fallot, Madeleine de Commercy ; Claude Himbert, Macaron et bergamote de Nancy ; Robert Fuchs, Marmite d'or ; Jean-Pierre Ruspini, Saumon de Salm ; Jean-Marie Mougel, Andouille du Val d'Ajol ; Jean-François Ancel, Rognons blancs de Raon aux Bois ; Evelyne Bailleux, Fine coquille de Poseïdon de Recey sur Ource (21) ; Dominique Thaller, Tête de veau de Rambervillers ; Nicole Dubois, Boudin noir de Soissons (02) ; Martine Pattey, Image d'Epinal."],
       [ "Le Smash Entente Club de Lunéville (SECL) a repris ses activités au complexe Berte. Les séances d'entraînement du mercredi soir, de 20 h à 22 h, sont ouvertes à toute personne adulte désirant pratiquer le volley-ball dans un esprit de loisir et de détente. Pour ceux ou celles qui souhaitent participer au championnat loisir, un entraînement spécifique leur est proposé le lundi soir, aux mêmes horaires. L'assemblée générale du club aura lieu le mercredi 29 septembre, à 20 h, dans la salle de réunion de la maison des sports. Tous les membres du club y sont conviés ainsi que toutes les personnes intéressées. Pour tout renseignement complémentaire, s'adresser au président J. Ravaine (03.83.74.12.28)."],
       [ "En tout cas, du côté du PS Dole qui reste en course pour l'accession parmi l'élite régionale après un nouveau et net succès contre Devecey (4-1), on espère bien mettre à profit ces paramètres pour une qualification dans le dernier carré : « nous aborderons cette rencontre sans aucun complexe » précisait hier le président jurassien Alain Viennot. « Nous disposons d'un groupe homogène capable de se transcender dans les grandes occasions ». Celle-ci, surtout à domicile, en est une et les Dolois comptent bien tout mettre en oeuvre au côté de son buteur maison, Euvrard (17 buts et leader des buteurs de PH-B) pour parvenir à leurs fins."],
       [ "« Le nombre des donneurs était en légère baisse lors de la dernière collecte à Neuves-Maisons. C'est inquiétant car les besoins sont énormes. Au niveau départemental, les stocks sont très faibles, et ne permettent de faire face à la demande que pour une période de cinq jours au grand maximum. Que se passerait-il si un sinistre d'une gravité exceptionnelle se produisait ? Il serait sans doute impossible de répondre à la demande. C'est pourquoi, nous invitons les habitants de Neuves-Maisons à participer massivement à la prochaine collecte prévue le dimanche 5 septembre, de 8 h 30 à 12 h, au centre socio culturel Jean-L'Hôte...» explique Jean Marie Greiner, président de l'association des donneurs de sang du secteur de Neuves-Maisons."],
       [ "ELOYES._ Les Ramoncenais n'auront tenu qu'une heure face aux réservistes loyas, incontestablement supérieurs techniquement et au niveau de la condition physique. Hajaji allait se montrer l'attaquant le plus remuant d'entrée de jeu (6') ou avec son compère El Khala (13') permettant à Paillard de sauver les meubles. Cela tenait, jusqu'à une belle combinaison entre les deux, plus Abou en relayeur, et Hajaji trouvait les filets (17'). On retrouvait les mêmes par la suite : El Khala (20'), Hajaji (30', 37' et 44'), souvent bien servis par le jeune Claudel. Les visiteurs s'étaient néanmoins montrés dangereux par une action Peduzzi-Blouin (10') et les raids de Martins (18' et 32')."]], dtype=object)

In [16]:
df.shape

(1000, 1)

In [17]:
df.head()

                                                text
0  André Bauer, le Bonhomme de St-Dié ; Alain Dag...
1  Le Smash Entente Club de Lunéville (SECL) a re...
2  En tout cas, du côté du PS Dole qui reste en c...
3  « Le nombre des donneurs était en légère baiss...
4  ELOYES._ Les Ramoncenais n'auront tenu qu'une ...

In [18]:
df.columns

Index(['text'], dtype='object')

In [19]:
df.columns = ["paragraphe"]

In [20]:
df.columns

Index(['paragraphe'], dtype='object')

                                          paragraphe
0  André Bauer, le Bonhomme de St-Dié ; Alain Dag...
1  Le Smash Entente Club de Lunéville (SECL) a re...
2  En tout cas, du côté du PS Dole qui reste en c...
3  « Le nombre des donneurs était en légère baiss...
4  ELOYES._ Les Ramoncenais n'auront tenu qu'une ...

In [22]:
df = df[0:1000]

In [23]:
df.shape

(1000, 1)

In [24]:
print("avant: {}".format(df.shape))

avant: (1000, 1)

In [25]:
print("après")

après

In [26]:
df
print("dimensions")
print(df.shape)
print("= 5 premières rangés")
print(df.head())
print("= Noms des colonnes")
print(df.columns)

dimensions
(1000, 1)
= 5 premières rangés
                                          paragraphe
0  André Bauer, le Bonhomme de St-Dié ; Alain Dag...
1  Le Smash Entente Club de Lunéville (SECL) a re...
2  En tout cas, du côté du PS Dole qui reste en c...
3  « Le nombre des donneurs était en légère baiss...
4  ELOYES._ Les Ramoncenais n'auront tenu qu'une ...
= Noms des colonnes
Index(['paragraphe'], dtype='object')

In [1]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "\n",
    "DATA_PATH = '../data/'\n",
    "filename  = 'estrepublicain_annee_1999.csv'\n",
    "\n",
    "df = pd.read_csv(DATA_PATH + filename)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(30241, 1)"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape\n",
    "df.head()\n",
    "df.tail()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0        1156\n",
       "1         704\n",
       "2         638\n",
       "3         740\n",
       "4         683\n",
       "5         718\n",
       "6        1286\n",
       "7        1484\n",
       "8         673\n",
       "9         710\n",
       "10        747\n",
       "11        588\n",
       "12        715\n",
       "13        613\n",
       "14        713\n",
       "15        762\n",
       "16       1093\n",
       "17        683\n",
       "18        560\n",
       "19        733\n",
       "20        784\n",
       "21        887\n",
       "22        614\n",
       "23        789\n",
       "24        825\n",
       "25        712\n",
       "26        580\n",
       "27        446\n",
       "28        793\n",
       "29        777\n",
       "         ... \n",
       "30211     636\n",
       "30212     840\n",
       "30213     641\n",
       "30214     637\n",
       "30215     662\n",
       "30216     579\n",
       "30217     776\n",
       "30218     955\n",
       "30219     734\n",
       "30220     576\n",
       "30221     695\n",
       "30222     668\n",
       "30223     717\n",
       "30224    1300\n",
       "30225     952\n",
       "30226     656\n",
       "30227     544\n",
       "30228     926\n",
       "30229     898\n",
       "30230     624\n",
       "30231     627\n",
       "30232     737\n",
       "30233     638\n",
       "30234     688\n",
       "30235     748\n",
       "30236     600\n",
       "30237     687\n",
       "30238    1002\n",
       "30239     644\n",
       "30240     735\n",
       "Name: text, Length: 30241, dtype: int64"
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df[df.text.str.contains('football') ]\n",
    "dfdf.text.apply(lambda d : len(d))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.6.3"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}

NameError: name 'true' is not defined

In [2]:
5 + 5

10